
html {
  scroll-behavior: smooth;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
font-family: 'Oswald', sans-serif;
  color: #252525;
  background-color: rgb(253, 245, 245);
  text-align: center;
  padding: 14px 16px;
  margin-top: 0px; 
  text-decoration: none;
  font-size: 17px;
  margin: 0 auto 0;
  display: block;
}

.about-me-container {
  background-color: rgb(230, 213, 225);
  width: 100%;
  height: 750px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(209, 178, 202);
  color: black;
}

.title {
  background-color: rgb(228, 211, 231);
  display: block;
  overflow: hidden;
  width: 100%; 
  padding: 0;
  margin: 0 auto 0;
  padding-top: 0px;
}


.nav-bar-1 {

  background-color: rgb(235, 216, 226);
  display: block;
  overflow: hidden;
  width: 100%; 
  padding: 0;
  margin: 0 auto 0;
  padding-top: 0px;

}

.centered-photo-1 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  padding-bottom: 0;
}

.picture-name-container {

  padding-bottom: 0;
  background-color: #e8d7f0;

}

h2 {

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 40px;

}

h3 {

 font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;

}

/* image-container {
  display: inline-block;
  align-items: center;
  padding-right: 0; 
} */

p {
 font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.4;
}

.my-name {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-align:center;
}

.paragraph-spacing {
  font-size: 20px;
  line-height: 2.4;
}

a {
  color: #3b0099; 
  text-decoration: none;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  letter-spacing: 0.8px;
  line-height: 1.4;
}


.profile-picture {
  width: 18%;
  height: 18%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
  float: left;
}

.text-box-1-container {

  width: 100%;
  height: 400px;
  margin-top: 0;
  padding-top: 0;

}

.text-box-1 {


  justify-content: center;
  height: 340px;
  width: 1000px;
  margin: auto;
  margin-top: 0;
  text-align: right;
  align-items: center;
  padding-top: 40px;
  padding-right: 60px;
  float: right;

}

.mini-text-box {

  text-align: right;
  width: 1200px;
  border-width: 2px;
  padding-top: 80px;
  padding-left: 100px;

}


.about-me-container {
  vertical-align: middle;
  background-color: #e8d7f0;
  width: 100%;
  height: 620px;
  padding-bottom:0;
  margin-bottom:0;
}

body {
  background-color: rgb(247, 237, 241);
}

#aboutme {
  padding-bottom: 0;
}


.title-box{
  padding-top: 14px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  margin-top: 3px;
}

.card-title {
  float: left;
  font-family: 'Oswald', sans-serif;
  color: #252525;
  font-size: 20px;
  margin-top: 0;
  padding-top: 21px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.card {
    background: rgb(240, 216, 225);
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1500px;
  padding-left: 70px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.card-body {
  width: 370px;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  float: left;
}

.card-text {
  float: left;
}

.card-subtitle {
  float: left;
}

.links-box {
  float: left;
}

.html-badge {
  float: left;
}

h4 {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}


.html-badge {
    background-color: #f5af93;
    color: #fff;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 4px;
    border-radius: 20px;
    height: 13px;
    width: 25px;
    border: 2px solid white;
}

.javascript-badge {
  background-color: #775b9b;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 55px;
  border: 2px solid white;
}

.css-badge {
  background-color: #e737bb;
  color: #fff;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 20px;
  border: 2px solid white;
}

.jquery-badge {
  background-color: #4ce0f3;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 33px;
  border: 2px solid white;
}

.figma-badge {
  background-color: #37e4b0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.python-badge {
  background-color: #00d4b8;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 40px;
  border: 2px solid white;
}

.atom-badge {
  background-color: #ee1010;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.swift-badge {
  background-color: #000000;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.xcode-badge {
  background-color: #1083ee;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 30px;
  border: 2px solid white;
}

.arduino-badge {
  background-color: #cbf0c0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 55px;
  border: 2px solid white;
}

.bootstrap-badge {
  background-color: #fcf39a;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 53px;
  border: 2px solid white;
}

.MIT-badge {
  background-color: #98b12a;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 93px;
  border: 2px solid white;
}

.json-badge {
  background-color: #deafd6;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 28px;
  border: 2px solid white;
}

.java-badge {
  background-color: #e884b0;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 28px;
  border: 2px solid white;
}

.c-badge {
  background-color: #a5f0ea;
  color: #fff;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 4px;
  border-radius: 20px;
  height: 13px;
  width: 20px;
  border: 2px solid white;
}

.my-techstack {
  padding-top: 13px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.mytechstack-badges {
  margin-top: 11px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.languages {
  padding-right: 8px;
}


.tech-stack {

  padding-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
  width: 350px;
  height: 20px;
  margin-top: 0;
  padding-bottom: 20px;

}


.btn-primary {
    background-color: #898cae;
    color: #fff;
    font-size: 17px;
    font-family: 'Muli', sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    border: 2px solid white;
}

.dreamready-textbox {
  margin-top: 8px;
  padding-top: 8px;
  height: 40px;
}

#skills {
  background-color: rgb(240, 209, 225);;
  color: black;
}

#experiences {
  color:black;
}

.programming-languages-stack {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  float: center;
}

.skills-textbox {
  text-align: center;
  width: 1430px;
  height: 200px;
  padding-right: 300px;

}

.photo-gallery-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1700px;
  padding-left: 240px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.slideshow-title-1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.mySlides {
  width: 50%;
}

.w3-button {
  background-color: #3b0099;
  color: white;
}


#socials {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    width: 1450px;
    height: 200px;
    align-itemb v:center;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.social-icons {
  margin-right: 15px;
}

.fa {
    color: #000;
    font-size: 1.5rem !important;
    padding: 0.7rem;
    padding-right: 5px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}



.experiences-card {
    background: rgb(243, 221, 250);
    width: 440px;
    height: 900px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.experiences-img-container {
  text-align: center;
  display: block;
}

.experiences-card-title {
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #252525;
  font-size: 20px;
  margin-top: 0;
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.experiences-card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1400px;
  padding-left: 20px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 10px;
  line-height: 10px;
  align-content: center;
}

.experiences-card-body {
  width: 375px;
  height: 850px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 0px;
  float: left;
  line-height: 1.2;
}

.card-text {
  float: left;
}

.card-subtitle {
  float: left;
}

.links-box {
  float: left;
}

.kwk {
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}


.gwc {
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}

.experiences-img-container-1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 110px;
  display: block;
}

.puf {
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
}

h7 {

  font-family: 'Muli', sans-serif;
  font-style: bold;
  font-weight: 20px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.4;

}

h8 {
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #252525;
}

.coming-soon {
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #252525;
  font-size: 30px;
  margin-top: 0;
  padding-top: 80px;
  padding-left: 5px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

#press {
  background-color: rgb(221, 211, 231);;
  color: black;
  height: 2000px;
  
}

.press-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


iframe {
  border-style:none;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  justify-content: center;
  padding-left: 45px;
}

.press-title {
  text-align:center;
}


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
    font-family: CircularStd;
    src: url(assets/fonts/CircularStd-Bold.eot);
    src: url("assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Bold.woff") format("woff"), url("assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
}

}
.work-hero-card{
    display: block;
    margin:0 auto;
    width:80%;
    background: #fff;
    align-items: center;
    padding:0;
    /* border-radius: 10px; */
    padding-bottom: 15px;
    /* border:1px solid #44444450; */
    box-shadow: 1px 1px 20px #00000025;
    cursor: pointer;
    transition: all 1s;
    height: 100%;
    
}
#work-text{
    text-align: center;
    font-size: 1.5em;
}
.work-hero-card h1{
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
.work-hero-card:hover{
    width:85%;
    box-shadow: 0px 0px 20px #88888875;
    animation:zoom 1s;
    /* filter: none; */
}
.work-card-hero-img{
    width:100%;
    display: block;
    /* border:1px solid #44444450; */
    /* border-radius: 10px; */
    border-bottom: none;
    margin:0 auto;
    left:0;
    right: 0;
}
.work-double-row{
    padding-left:120px;
    padding-right: 120px;
    margin-top: 80px;
}
.project-star {
    position: absolute;
    background: #ffff0080;
    border-radius: 50px;
    padding: 2px 6px;
    font-size: 0.8em;
    top: 40px;
    right: 0;
}

.project-star-mobile {
    display: none;
    background: #ffff0080;
    border-radius: 50px;
    padding: 2px 6px;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8em;

}

#work-row {
    padding-left: 135px;
    padding-right: 135px;
    width: 100vw;
}

.work-hero {
    /* border:2px solid #444; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px #444; */
    width: 90%;
    transition: width 1s;
}
.work-hero:hover{
    width: 95%;
}

.work-des {
    padding-top: 40px;

}

.work-des h1 {
    font-weight: bold;
}

.work-des p {
    text-align: justify;
    font-weight: 100;
}

.work-hero-img {
    width: 100%;
    border-radius: 10px;
}

.technologies h2 {
    font-size: 0.8em;
    font-weight: bold;
}

.tech-stack {
    cursor: pointer;
    margin-right: 10px;
    background: #f2f2f2;
    padding: 2px 4px;
    font-size: 0.8em;
    transition: background 1s;
}

.tech-stack:hover {
    background: beige;
}

.featured {
    margin-top: 10px;
}

.partners {
    /* background:#f2f2f2; */
    height: 50px;
    margin-right: 20px;
}

#partner-logo {
    height: 40px;
    cursor: pointer;
    transition: all 1s;
}

#partner-logo:hover {
    box-shadow: 0px 0px 10px #444;
}

.work-read {
    float: right;
    font-size: 0.8em;
}

.work-read:hover {
    background: #444;
    color: white !important;
    border: 2px solid #444 !important;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--light-text-color);
    overflow-x: hidden;
}

.comingsoon h1 {
    font-size: 3em;
}

.comingsoon {
    position: absolute;
    margin: auto;
    top: 0;
    /* background: white; */
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    /* width: 40em; */
    height: 10em;
    animation: opac 0.1s ease-in-out 5;
}

.comingsoon a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 1s;
}

.comingsoon a:hover {
    color: blue;
    font-size: 1.5em;
}

.social-icons a {
    color: var(--light-text-color);
    text-decoration: none;
    transition: all 1s;
}

.social-icons a:hover {
    color: blue;
}

li span a {
    color: #444;
    text-decoration: none;

}

li span a:hover {
    color: #444;
    text-decoration: none;
}

.copyright-legal {
    font-size: 1.1em;
    color: #444;
    letter-spacing: 0px;
    text-align: left;
}

.legal-links {
    text-decoration: none;
    font-weight: bold;
    transition: all 1s;
}

.legal-links:hover {
    text-decoration: none;
    color: blue;
}

.legal a,
.legal a:hover,
.legal a:active {
    color: #444;
    text-decoration: none;
}

.privacy-policy h1 {
    font-size: 2.5em;
    /* font-family: 'CircularStd'; */
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.privacy-policy h2 {
    font-size: 25px;
    font-family: 'CircularStd';
    /* letter-spacing: 0.1rem; */
}

.legal-des {
    text-align: justify;
    font-weight: 500;
}

.legal-des strong {
    /* font-size: 1.1em; */
    font-weight: 900;
}

.privacy-policy p {
    padding-right: 13vw;
    letter-spacing: 0.8px;
}

.nav-desk {
    height: 10vh;
    /* position: fixed; */
    display: block;
    width: 80vw;
    margin: auto;

    margin-top: 20px;
    left: 0;
    right: 0;
    /* background: black; */
}

.nav-logo {
    height: 100%;
    float: left;


}



.menu-wrap {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


.legal {
    position: absolute;
    bottom: 25px;
    right: 25px;
}


.hero-tag {
    margin-top: 20vh;
    text-align: left;
    font-size: 4.5em;
    font-weight: bold;
    color: var(--hero-color);
    font-family: 'CircularStd', sans-serif;
}

.contact-hero {
    margin-top: 0vh;
    font-size: 3.5em;
}

.hero-des {
    padding-right: 60px;
    text-align: justify;
    /* font-weight: 800; */
    letter-spacing: 1.2;
}

.contact-des {
    letter-spacing: 0.2;
}

.input-container {
    padding: 10px 0px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    height: calc(2.25rem + 2px);
    padding: .5rem .75rem;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: none;
    border: none;
    border-bottom: 2px solid #444;
    border-radius: 0rem;
    transition: all .5s ease-in-out;
    outline: none;
}

.form-control:focus {
    outline: none;
    border-bottom: 2px solid blue;
    box-shadow: none;
}

.form-control:hover {
    background: whitesmoke;
}

/* input:focus, textarea:focus, select:focus{
    outline: none;
} */
.learn-btn {
    padding: 5px 10px;
    background: var(--light-text-color);
    color: white;
    border: 2px solid var(--light-text-color);
    letter-spacing: 0.1;
    transition: all 1s;
}

.contact-des a {
    text-decoration: none;
    color: #444;
    transition: color 1s;
}

.contact-des a:hover {
    color: blue;
}

.learn-btn:hover {
    background: blue;
    border: 2px solid blue;
}

.contact-btn {
    margin-left: 6px;
    padding: 5px 10px;
    color: var(--light-text-color);
    background: none;
    border: 2px solid var(--light-text-color);
    transition: all 1s;
}

.contact-btn:hover {
    color: blue;
    border: 2px solid blue;
}

#hero-img {
    margin-top: 50px;
    width: 90%;
}

#left-hero {
    padding-left: 150px;
}

#logo {
    margin-top: 5px;
    height: 80%;
    padding: 6px;
    border: 4px solid #444;
    border-radius: 50%;
}

/* .nav-items{
    color:black;
    float:right;
} */
ul {
    float: right;
    /* color:white; */
    list-style: none;
    padding: 30px 0px;
}

li {
    /* text-transform: uppercase; */
    display: inline;
    font-size: 16px;
    letter-spacing: 0.1;
    padding: 0px 15px;
}

.social-icons {
    margin-top: 30%;
}

.footer-full {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 10px;
    padding-top: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-credits {
    float: right;
    /* display: inline; */
}

.footer-credits a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    transition: all 1s;
}

.footer-credits a:hover {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.social-icons i {
    font-size: 2em;
    /* font-weight: 100; */
    padding: 0px 5px;
}

li span {
    position: relative;
    /* display: block; */
    cursor: pointer;
}

li span:before,
li span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--black-color);
}

li span:before {
    left: -2.5px;
}

li span:after {
    right: 2.5px;
    background: var(--black-color);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.footer-full {
    padding-top: 60px;
}

li span:hover:before {
    background: var(--black-color);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

#index-body {
    /* background: url('assets/img/mobile.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #left-hero {
        padding-left: 80px;
        flex: 0 0 100% !important;
        max-width: 100% !important;

    }

    #work-row {
        padding-left: 50px;
        padding-right: 50px;
    }

    .work-hero {
        width: 100%;
    }

    #hero-right {
        display: none;
    }
    .work-double-row{
        padding-left: 30px;
        padding-right: 30px;
    }
    #index-body {
/*         background: url('assets/img/mobile.png'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }
    /* .work-double-row{
        padding-left: 50px;
        padding-right: 50px;
    } */

}

/* #logo {
    display: none;
} */

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .nav-items {
        width: 0;
        height: 0;
        display: none;
    }
    .work-double-row{
        padding:30px 20px;
        padding-bottom: 0;
    }
    .work-hero-card{
        width:100%;
        margin-bottom: 25px;
    }
    #row-3{
        margin-top: 0px;
        padding:0 20px;
    }
    #index-body {
/*         background: url('assets/img/mobile.png'); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    #left-hero {
        padding-left: 50px;
        ;
    }

    #work-row {
        padding-right: 0;
        padding-left: 30px;
    }

    .work-des h1 {
        text-align: center;
    }

    .work-read {
        float: none;
    }

    #logo {
        display: none;
        /* height: 65%;
        margin-top: 28px; */
    }

    .hero-tag {
        margin-top: 20vh;
        font-size: 4em;
    }

    #hero-right {
        display: none;
    }

    .hero-des {
        padding-right: 30px;
    }

    .menu-wrap {
        display: block;
    }

    .menu ul li {
        display: block !important;
    }

    .menu ul li a {
        color: var(--black-color) !important;
    }

    .menu-wrap .hamburger {
        z-index: 2;
    }

    .menu-wrap .toggler {
        z-index: 3;
    }

    .contact-hero {
        margin-top: 10vh;
    }

    .footer-full {
        text-align: center;
        padding-top: 40px !important;
    }

    #contact-social {
        margin-top: 10%;
    }

    .footer-credits {
        display: block;
        text-align: center;
        padding-top: 10px;
        float: none;
    }

    #legal-hero {
        margin-top: 5vh !important;
        text-align: left;
    }

    #legal-hero-des {
        padding-right: 10px;
        text-align: left;
        font-size: 0.8em;
    }

    .privacy-policy p {
        padding-right: 1vw;
        /* text-align: left; */
    }

    .project-star {
        display: none;
    }

    .project-star-mobile {
        display: block;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 50px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;

}

